<html>
    <head>
        <title>Home | Ethan Brimhall</title>
        <meta charset="utf-8">
        <meta name = "description" content = "This is my personal website that showcases my projects related to computer science">
        <meta name = "author" content="Ethan Brimhall">
        <meta name = "keywords" content = "ethan brimhall, ethanbrimhall, personal website, ethan brimhall, brimhall, Ethan Brimhall, Ethan Brim, Ethan Brimhall Website, Ethan Brimhall personal website">
    </head>
    
    <body>
        <h1>Website currently under construction</h1>
        
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121649327-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-121649327-1');
        </script>

    </body>
    
</html>